<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{{ theme:partial name="metadata" }}
		<!-- Google Analytics -->
		{{ integration:analytics }}
	</head>
	<body>

		<div class="wrapper">

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container">
                <!-- Logo link-->
                <a href='index-2.html' class="logo">
                    <img alt='logo' src="<?=base_url()?>addons/shared_addons/themes/movie/images/logo.png">
                </a>
                
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                    </a>
                    
                    <!-- Link navigation -->
                    <ul id="navigation" style="margin-right:0;">
                        {{ navigation:links group="header" }}
                    </ul>
                </nav>
                
                <!-- Additional header buttons / Auth and direct link to booking
                <div class="control-panel">
                    <a href="#" class="btn btn--sign login-window">Sign in</a>
                    <a href="#" class="btn btn-md btn--warning btn--book login-window">Book a ticket</a>
                </div>-->

            </div>
        </header>
<?if(isset($post[0]['headfoot']) && $post[0]['headfoot']=='home_movie'){?>	
{{ template:body }}
<?}else{?>        

        {{ theme:partial name="search" }}
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-8 col-md-9">
				{{ template:body }}
            </div>
                    
            {{ theme:partial name="sidebar" }}

        </section>
<? } ?>		
        {{ theme:partial name="footer" }}
		
	</body>
</html>